<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <!--
        Based on Bootstrap Login Page
        https://codepen.io/xmas1224/pen/MWJqbao
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Spring Security and OAuth 2.0: Step-by-Step (Workshop)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/img/security.png">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-title">
                    <span>Purchases</span>
                </div>
                <div class="col-lg-12 login-form">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="purchase : ${purchases}">
                                <td th:text="${purchase.id}"></td>
                                <td th:text="${purchase.description}"></td>
                                <td th:text="${purchase.amount}"></td>
                                <td th:text="${purchase.owner}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <a class="btn btn-block btn-outline-secondary" th:href="@{/my/cashcards}">BACK TO CASHCARDS</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>

</body>
</html>