<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <!--
        Based on Bootstrap Login Page
        https://codepen.io/xmas1224/pen/MWJqbao
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Spring Security and OAuth 2.0: Step-by-Step (Workshop)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/img/security.png">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    <span>MY ACCOUNT</span>
                </div>
                <div class="col-lg-12 login-form">
                    <form method="post" th:action="@{/logout}">
                        <div class="form-group">
                            <span class="form-control-label">Manage your <span class="text-info" th:text="${#authentication.name}"></span> account.</span>
                        </div>
                        <div class="form-group">
                            <a href="/webauthn/register" class="btn btn-block btn-outline-success">CREATE AND MANAGE PASSKEYS</a>
                        </div>
                        <div class="form-group">
                            <a href="/logout" class="btn btn-block btn-outline-danger">LOG OUT</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>

</body>
</html>